{% load bootstrap4 %}
{% load static %}

<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="{% static 'favicon.ico' %}" rel="icon" type="image/x-icon" />
</head>
<body>

<script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"></link>

<script src="https://cdn.jsdelivr.net/npm/vue-toast-notification@0.6.1/dist/index.min.js"></script>
<link href="https://cdn.jsdelivr.net/npm/vue-toast-notification/dist/theme-sugar.css" rel="stylesheet" />

<script src="https://cdn.jsdelivr.net/npm/vue-timeago@5.1.3/dist/vue-timeago.js"></script>

{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}

<style type="text/css">
	.jumbotron-image {
		background-image: url({% static 'leaves2.jpg' %});
		background-position: center center;
		background-repeat: no-repeat;
		background-size: cover;
	}
	
	.circle-crop {
		clip-path: circle();
	}
	
	.current-moisture { 
		font-size: 0.75em; color: gray; font-weight: normal; 
	}
	
	.last-watered {
	
	}
</style>

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

<div class="jumbotron jumbotron-fluid text-white jumbotron-image shadow">
	<div class="container-fluid">
		<h2 class="mb-4">PJ Plant Saver</h2>
		<p class="mb-4">
			Watering by hand is for suckers.
		</p>
		</div>
	</div>
</div>

<div id="app">
	<div class="container" style="margin-bottom: 20px">
		<button type="button" class="btn btn-info" v-on:click="refresh">Refresh</button>
		<button type="button" class="btn btn-danger" v-on:click="stopAll">Stop All Pumps</button>				
	</div>
	<div class="container">
		<div class="row row-cols-2 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5">
			<div v-for="plant in plants" class="col mb-3">
				<div class="card">
					<h5 class="card-header">
						<a v-bind:href="'/admin/plantWatering/plant/' + plant.id + '/change/'">
							[[ plant.name ]]
						</a>
						
						<i v-show="plant.isRunning" class="fas fa-tint float-right" style="color: blue"></i>
						<i v-show="plant.isRunning" class="fas fa-tint float-right" style="color: blue"></i>
						<i v-show="!plant.isRunning" class="fas fa-tint-slash float-right" style="color: gray"></i>
					</h5>
					<div class="card-body">
						<!-- photo / icon -->
						<img v-if="plant.imageUrl" v-bind:src="plant.imageUrl" class="rounded" width="75">
						<div v-if="!plant.imageUrl" style="height: 75px; width: 75px; font-size: 75px;">
							<i class="fas fa-seedling" style="color: green;"></i>
						</div>
						
						<div v-show="plant.moisture != ''" class="current-moisture float-right">
							moisture [[ plant.moisture ]]
						</div>
						
						<p class="card-text last-watered">
							Last watered 
							<timeago v-if="plant.lastWatered" :datetime="plant.lastWatered" :auto-update="60"></timeago>
							<span v-if="!plant.latestLog"><b>never</b></span>
						</p>
						
						<p class="card-text last-watered">
							Water again
							<timeago v-if="plant.nextWater" :datetime="plant.nextWater" :auto-update="60"></timeago>
							<span v-if="!plant.nextWater"><b>now</b></span>
						</p>
						
						<button type="button" class="btn btn-primary" 
							v-show="plant.pump"  
							v-bind:disabled="plant.isRunning != 0" 
							v-bind:class="{ disabled: plant.isRunning }" 
							v-on:click="waterPlant(plant.id, plant.waterSeconds)"
							v-bind:title="plant.pump">
							<i v-show="plant.isRunning" class="fas fa-spinner fa-spin"></i>
							Water ([[ plant.waterSeconds ]] sec)
						</button>
					</div>
				</div>
			</div>		
		</div>
	</div>
</div>

<!-- context model data -->
{{ plants | json_script:"js-plants" }}

<script type="text/javascript">
	
	Vue.use(VueToast);

	Vue.use(window.VueTimeago, {
	  name: 'Timeago', // Component name, `Timeago` by default
	  locale: 'en' // Default locale
	  // We use `date-fns` under the hood
	  // So you can use all locales from it
	})	

	var app = new Vue({
		el: '#app',
		delimiters: ["[[", "]]"],
		data: {
			plants: JSON.parse(document.getElementById('js-plants').textContent)
		},
		methods: {
		
			getPlant: function(plantId) {
				for (const key in this._data.plants) {
					var plant = this._data.plants[key];
					
					if (plant.id == plantId) {
						return plant;
					}
				}	
				
				return null;
			},
			
			refresh: function() {
				location.reload();
			},
			
			setPumpIsRunning: function(plantId) {
				var plant = this.getPlant(plantId);
				plant.isRunning = true;
			},
			
			setPumpIsStopped: function(plantId) {
				var plant = this.getPlant(plantId);
				plant.isRunning = false;
			},

			stopAll: function () {
				axios.get('/stopAllPumps')
					.then((response) => {
						console.log("Stopped all pumps");

						for (const key in this._data.plants) {
							var plant = this._data.plants[key];
							plant.isRunning = false;
						}	

						Vue.$toast.open({
							message: "Stopped all pumps",
							type: "success",
							duration: 2000,
							dismissible: true,
							position: "top-right"
						})
					});
			},
			
			updatePumpLastRun: function(plantId, seconds) {
				var plant = this.getPlant(plantId);
				plant.latestLog = { 
					"logDateTime": new Date(),
					"durationSeconds": seconds
				}
			},
			
			waterPlant: function(plantId, seconds) {
				Vue.$toast.open({
					message: "Watering plant #" + plantId,
					type: "success",
					duration: seconds * 1000,
					dismissible: true,
					position: "top-right"
				});
				this.setPumpIsRunning(plantId);
				this.updatePumpLastRun(plantId, seconds);
				axios.get('/waterPlant?plantId=' + plantId + '&seconds=' + seconds)
					.then((response) => {
						this.setPumpIsStopped(plantId);
						console.log("Watering log: " + response.data.toString());
					});
			}			
		}		
	});

</script>


</body>
</html>